<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>308666595784-2m0u7117kfffnfqi9df16ktlsv4llqe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308666595784-2m0u7117kfffnfqi9df16ktlsv4llqe2</string>
	<key>API_KEY</key>
	<string>AIzaSyC84oq1Cqf_sj0fDyg-3QfANMwXgR4UoLY</string>
	<key>GCM_SENDER_ID</key>
	<string>308666595784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cookpad.ios.testSalad</string>
	<key>PROJECT_ID</key>
	<string>testsalada-b9633</string>
	<key>STORAGE_BUCKET</key>
	<string>testsalada-b9633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:308666595784:ios:ec7ac97ba3a75005</string>
	<key>DATABASE_URL</key>
	<string>https://testsalada-b9633.firebaseio.com</string>
</dict>
</plist>